#wrap {
  background-color: pink;
}
#one {
  background-color: pink;
}
#one1 {
  background-color: pink;
}
#two {
  background-color: pink;
}
#three {
  background-image: url('../img.png');
}
.fore {
  fuck: 2;
}
.fore .sex {
  mmp: 4;
}
