#one {
  width: 6cm;
}
#two {
  height: 10mm;
}
#three {
  width: 7cm;
}
#four {
  width: 232.77165354px;
}
.one {
  width: 60cm;
}
.two {
  height: 36cm;
}
.three {
  color: #222222;
}
.four {
  background-color: #272727;
}
